RefundSettelment/Web References/YaghutWebRefrence/Yaghut.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CardTransfer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PAN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CVV" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ExpDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DestPAN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CardTransferResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CardTransferResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InquiryCardHolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PAN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CVV" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ExpDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DestPAN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InquiryCardHolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InquiryCardHolderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CardTransferSoapIn">
    <wsdl:part name="parameters" element="tns:CardTransfer" />
  </wsdl:message>
  <wsdl:message name="CardTransferSoapOut">
    <wsdl:part name="parameters" element="tns:CardTransferResponse" />
  </wsdl:message>
  <wsdl:message name="InquiryCardHolderSoapIn">
    <wsdl:part name="parameters" element="tns:InquiryCardHolder" />
  </wsdl:message>
  <wsdl:message name="InquiryCardHolderSoapOut">
    <wsdl:part name="parameters" element="tns:InquiryCardHolderResponse" />
  </wsdl:message>
  <wsdl:portType name="Yaghut_MobileAppSoap">
    <wsdl:operation name="CardTransfer">
      <wsdl:input message="tns:CardTransferSoapIn" />
      <wsdl:output message="tns:CardTransferSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InquiryCardHolder">
      <wsdl:input message="tns:InquiryCardHolderSoapIn" />
      <wsdl:output message="tns:InquiryCardHolderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Yaghut_MobileAppSoap" type="tns:Yaghut_MobileAppSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CardTransfer">
      <soap:operation soapAction="http://tempuri.org/CardTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InquiryCardHolder">
      <soap:operation soapAction="http://tempuri.org/InquiryCardHolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Yaghut_MobileAppSoap12" type="tns:Yaghut_MobileAppSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CardTransfer">
      <soap12:operation soapAction="http://tempuri.org/CardTransfer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InquiryCardHolder">
      <soap12:operation soapAction="http://tempuri.org/InquiryCardHolder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Yaghut_MobileApp">
    <wsdl:port name="Yaghut_MobileAppSoap" binding="tns:Yaghut_MobileAppSoap">
      <soap:address location="http://localhost:8081/Yaghut.asmx" />
    </wsdl:port>
    <wsdl:port name="Yaghut_MobileAppSoap12" binding="tns:Yaghut_MobileAppSoap12">
      <soap12:address location="http://localhost:8081/Yaghut.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>